# Django Settings
DEBUG=True
SECRET_KEY=django-insecure-default-key-change-this-in-production
FRONTEND_URL=http://localhost:5174

# Database Configuration (Railway Cloud DB)
DB_ENGINE=django.db.backends.postgresql
DB_NAME=railway
DB_USER=postgres
DB_PASSWORD=qFzjpZHipslPYrdKARseUmjViIsUBEsf
DB_HOST=thomas.proxy.rlwy.net
DB_PORT=40659

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=dwerzrgya
CLOUDINARY_API_KEY=581815563668339
CLOUDINARY_API_SECRET=ul_5HAkewevM14trmtf7onSxZtU

# Stripe (Pasarela de pagos)
STRIPE_PUBLIC_KEY=pk_test_tu_stripe_public_key
STRIPE_SECRET_KEY=sk_test_tu_stripe_secret_key

# Groq (IA Generativa)
GROQ_API_KEY=gsk_tu_groq_api_key
